<!-- <form class="contact-form" action="https://formspree.io/liselotcodes@gmail.com"
      method="POST">
    <strong>Name: </strong><input type="text" name="name"><br/>
    <strong>Email: </strong><input type="email" name="_replyto"><br/>
    <strong>Say hi! </strong><textarea rows="5" cols="30" name="comments"></textarea><br/>
    <input type="text" name="_gotcha" style="display:none" /><br/>
    <input type="submit" value="Send Message">
</form> -->

<div class="contact-form">
    <form action="https://formspree.io/liselotcodes@gmail.com"
          method="POST">
          <i class="fa fa-user-circle-o fa-1" aria-hidden="true"></i> <label>Your name</label><br/>
          <input type="text" name="name"><br/><br/>
          <i class="fa fa-envelope-open fa-1" aria-hidden="true"></i> <label>E-mail</label><br/>
          <input type="email" name="_replyto"><br/><br/>
          <label>Say hi!</label><br/>
          <textarea rows="8" cols="50" name="comments"></textarea><br/><br/>
          <!-- <input type="text" name="_gotcha" style="display:none" /> -->
          <input type="submit" value="Send Message">
    </form>
</div>
