---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Slabo+13px|Montserrat:100|Walter+Turncoat&subset=latin-ext');

body{
  background-image: url(./../images/bga.png);
    min-height: 676px;
}

.wrapper {
    max-width: 732px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

code{
      background-color: rgba(0,0,0,0.4) !important;
}

blockquote{
  font-size: 18px;
  line-height: 25px;
  padding: 10px 6px 0px 6px;
}

p, a, span, dt, th, li, h1,h2,h3,h4,h5,h6{
  strong{
    color: #ffcc00 !important;
    font-weight: bolder !important;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Walter Turncoat', cursive !important;

  a{
    font-family: 'Walter Turncoat', cursive;
  }
}

p, a, span, dt, th, strong, li{
  font-family: 'Slabo 13px', serif !important;
}

div{
  p, a, span, dt, th, strong{
    font-family: 'Slabo 13px', serif !important;
  }
}

h1,h2,h3,h4,h5,h6{
  a[href^="#"]{
    color: #ffffff;
    font-family: 'Walter Turncoat', cursive !important;
  }
}

#header{
  nav{
    background: transparent !important;
    li{
      margin-right: 20px;
      a{
        font-family: 'Slabo 13px', serif;
        background: transparent;
        border: none;
        box-shadow: none;
        opacity: 0.5;
        &:hover{
          background: transparent;
          border: none;
          box-shadow: none;
          opacity: 1;
        }
      }
    }
  }
}

section{
    max-width: 732px;
    padding: 30px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 70px;

  #title{
    p, span, .credits, a{
      font-family: 'Slabo 13px', serif;
    }
  }
}


.contentPortfolioWrap{
  background: rgba(255,255,255,0.1);
  position: relative;
  padding: 30px;

  h1:first-of-type{
    color: #ffcc00;
    font-size: 34px;
  }

  .p-frameworks p, .p-keywords p{
    strong{
      color:#ffcc00;
    }
  }
}

.gallery-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .block-thumb{
    vertical-align: bottom;
    border: 1px solid rgba(255,255,255,0.1);
    margin: 4px;
    padding: 4px;
    justify-content: center;
    width: 250px;
    height: 200px;
    background-size: cover;

    .thumb-title{
      position: relative;
      top: 150px;
      background: rgba(0,0,0,0.4);
      padding: 16px 15px;
      margin-left: -4px;
      width: 227px;
    }
  }
}

.profile-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: justify;
  line-height: 22px;
  width: 90%;

  .cont-content{
    padding: 5px;
    margin: 0px 2px;
    width: 90%;
  }

  .cont-profile{
    padding: 5px;
    margin: 0px 20px;
    width:90%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

    .fact{
      .fa{
        margin-right: 10px;
      }
    }

    li{
      list-style:none;
      margin-bottom: 10px;
      display: inline;
      width: 35%;
    }

  }
}


.contact-form{
  label{
    font-family: 'Slabo 13px', serif !important;
  }

  input[type=text], input[type=email], input[type=submit]{
    font-family: 'Slabo 13px', serif !important;
    line-height: 170%;
    margin-bottom: 6px;
    padding:2px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #555;
    width: 250px;
  }

  textarea {
    font-family: 'Slabo 13px', serif !important;
    resize: none;
    padding:2px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #555;
  }
}
