---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Slabo+13px|Walter+Turncoat&subset=latin-ext');

body{
  background-image: url(./../images/bga.png);
    min-height: 676px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Walter Turncoat', cursive;

  a{
    font-family: 'Walter Turncoat', cursive;
  }
}

p, a, span, dt, th, strong{
  font-family: 'Slabo 13px', serif;
}

#header{
  nav{
    background: transparent !important;
    li{
      font-family: 'Slabo 13px', serif;
      margin-right: 20px;
      a{
        background: transparent;
        border: none;
        box-shadow: none;
        opacity: 0.5;
        &:hover{
          background: transparent;
          border: none;
          box-shadow: none;
          opacity: 1;
        }
      }
    }
  }
}

section{
  #title{
    p, span, .credits, a{
      font-family: 'Slabo 13px', serif;
    }
  }
}
